.contents{
    width:450px;
    margin-top:50px;
    margin-bottom:300px;
}

h1{
    text-align: center;
    font-weight: 400;
    font-size:35px;
}

.title{
    height:100px;
    padding:30px;
}

.form-group{
    text-align: center;
    margin:5px;
}

.login-input{
    width:100%;
    height:45px;
    padding-left:15px;
}

.submit{
    width:100%;
    height:45px;
    margin-top:30px;
    background-color:#FF4D67;
    color:white;
}

.item{
    width:100%;
    height:50px;
    text-align: center;
}

.login-maintenance{
    text-align:left;
}

.level{
    margin-top:50px;
}

.grey{
    color:#707070;
}

.mode{
    box-shadow: 3px 3px 3px 3px #E8E8E8;
    margin:10px;
    
}

.activea{
    color:#FF5971;
    font-weight:bold;
}

.toggle{
    text-align:center;
    height:150px;
}