/* modified from bulma.css */

/* original css */
.navbar-item {
    color: white !important;
}

.navbar-brand a {
    font-family: 'Jalnan';
}

a.navbar-item:hover {
    color: rgb(235, 235, 235) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
}

.navbar-top>div {
    margin: 0;
}

.navbar-start>a {
    margin: 0 10px;
}

.navbar-btn {
    color: #fff !important;
    margin: 0 10px;
    padding: 4px 14px;
    border-radius: 16px;
    border: 2px solid #fff;
    transition: .2s;
}

.navbar-btn:hover {
    color: #FF7285 !important;
    background-color: #fff !important;
}

.navbar-bottom {
    color: #fff;
    padding: 20px 0 40px 0;
}

.navbar-bottom .navbar-title {
    font-size: 36px;
}