.titlearea{
    width:100%;
    border-top:solid;
    height:50px;
    border-width:2px;
    border-color:#707070;
}

.textarea{
    width:100%;
    border-top:solid;
    border-bottom:solid;
    padding:0;
    height:300px;
    border-width:2px;
    border-color:#707070;
}

.full{
    width:100%;
    height:100%;
    border:none;
    padding-left:15px;
    font-weight:bold;
    font-size:15px;
}

.post_edit-container{
    width:75%;
    margin:auto;
}


.submit_area{
    margin-top:100px;
    text-align:right;  
    box-sizing:border-box;
    
}

.save{
    width:100px;
    background-color:#7600FF;
    color:white;
}