{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/song/detail.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="song-content">
        <div class="song-imgs">

        </div>
        <div class="song-lyrics">

        </div>
        <div class="song-player">

        </div>
    </div>
    <div class="song-info">
        <div class="song-info-left">
            <div class="song-title"></div>
        </div>
        <div class="song-info-right">
            <div class="song-like">

            </div>
            <div class="song-view">

            </div>
            <div class="song-fullscreen">

            </div>
        </div>
    </div>
    <div class="song-btns">
        <div class="song-btn">

        </div>
        <div class="song-btn">

        </div>
        <div class="song-btn">

        </div>
    </div>
</div>
{% endblock %}