{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/song/list.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="song-search">
        <div class="song-search-input">
            <p class="control has-icons-left">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
                <input class="input is-rounded" type="text" placeholder="노래를 검색해보세요">
            </p>
        </div>
        <div class="song-search-filters">
            <a class="song-search-filter-active">
                인기순
            </a>
            <a class="song-search-filter">
                조회순
            </a>
        </div>
    </div>
    <div class="song-list">
        {% for song in object_list %}
        <div class="song-item">
            <a href="/song/{{ song.id }}">
                <div class="song-thumbnail">
                    <img src="{% static 'images/thumbnail.jpg' %}" alt="thumbnail">
                </div>
                <div class="song-title">
                    {{ song.title }}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}