{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
{% endblock %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-top">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          WESING
          <!-- <img src="\" width="112" height="28"> -->
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-start">
        <a class="navbar-item">
          AAC로 노래해요
        </a>

        <a class="navbar-item">
          AAC로 활동해요
        </a>

        <a class="navbar-item">
          커뮤니티
        </a>
      </div>
      <div class="navbar-end">
        {% if user.is_authenticated %}
        <div class="navbar-item">
          <div class="buttons">
            <a class="navbar-profile navbar-btn" href="#">
              {{ user.username }}
            </a>
            <a class="navbar-profile navbar-btn" href="#">
              LOGOUT
            </a>
          </div>
        </div>
        {% else %}
        <div class="navbar-item">
          <div class="buttons">
            <a class="navbar-login navbar-btn" href="#">
              LOGIN
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="navbar-bottom">
      <div class="navbar-title">
        {{ navbar_title }}
      </div>
      <div class="navbar-subtitle">
        {{ navbar_subtitle }}
      </div>
    </div>
  </div>
</nav>