{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
{% endblock %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-top">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          WESING
          <!-- <img src="\" width="112" height="28"> -->
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-start">
        <a class="navbar-item">
          AAC로 노래해요
        </a>

        <a class="navbar-item">
          AAC로 활동해요
        </a>

        <a class="navbar-item">
          커뮤니티
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="navbar-login navbar-btn" href="#">
              LOGIN
            </a>
            <a class="navbar-signup navbar-btn" href="#">
              SIGNUP
            </a>
          </div>
        </div>
        <!-- <div class="navbar-item">
          <div class="buttons">
            <a class="navbar-profile navbar-btn" href="#">
              {{ user.username }}
            </a>
            <a class="navbar-logout navbar-btn" href="#">
              LOGOUT
            </a>
          </div>
        </div> -->
      </div>
    </div>
    <div class="navbar-bottom">
      <div class="navbar-title">
        AAC로 노래해요
      </div>
      <div class="navbar-subtitle">
        AAC카드를 통해 노래를 배워봅시다.
      </div>
    </div>
  </div>
</nav>



<!-- <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">WeSing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">ACC로 노래해요 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ACC로 활동해요</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'board:post_list' %}">커뮤니티</a>
      </li>
    </ul>
    {% if user.is_authenticated %}
    <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
    {% else %}
    <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
    {% endif %}
  </div>
</nav> -->