{% extends 'base.html' %}

{% block content %}

    <div class="container content">
        <div class="post_detail_header">
            <div class="column is-6">{{post.title}}</span>
            <span class="title">{{post.author}}</span>
            <span class="title">{{post.published_date.date}}</span>
            <span class="title">{{post.view}}</span>
        </div>

        <div class="text">
            {{post.text}}
            <a type="button" href="{% url 'board:post_list' %}">목록보기</a>
            <a type="button" href="{% url 'board:post_edit' pk=post.pk %}">수정</a>
        </div>
        <a href="">삭제</a>
        <div>
            <h5>댓글</h5>
            <div>
                <ul>
                {% for answer in post.answer_set.all %}
                    <li>
                        <div>
                            {{answer.author}}
                            {{ answer.content }}
                            {{answer.created_date.date}}
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div>
                <form action="{% url 'board:answer_create' post.id %}" method="post">
                    {% csrf_token %}
                    <textarea name="content" id="content" rows="15"></textarea>
                    <input type="submit" value="등록">
                </form>
            </div>
        </div>
    </div>
    
    

{% endblock %}