{% extends 'base.html' %}

{% block content %}
    {% include 'board/board_base.html' %}

    <div class="content">
        
        <div class="title">
            {{post.title}}
            {{post.author}}
            {{post.published_date.date}}
            {{post.view}}
        </div>

        <div class="text">
            {{post.text}}
        </div>


        <a href="{% url 'board:post_list' %}">목록보기</a>
        <a href="{% url 'board:post_edit' pk=post.pk %}">수정</a>
        <a href="">삭제</a>
    </div>
    <div>
        <h5>댓글</h5>
        <div>
            <ul>
            {% for answer in post.answer_set.all %}
                <li>
                    <div>
                        {{answer.author}}
                        {{ answer.content }}
                        {{answer.created_date.date}}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div>
            <form action="{% url 'board:answer_create' post.id %}" method="post">
                {% csrf_token %}
                <textarea name="content" id="content" rows="15"></textarea>
                <input type="submit" value="등록">
            </form>
        </div>
    </div>
    

{% endblock %}