{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}?after">
{% endblock %}


{% block content %}
<section class="section">
    <div class="container post_detail">
        <div class="header">
            <div class="title">{{post.title}}</div>
            <div class="title">{{post.author}}</div>
            <div class="title">{{post.published_date.date}}</div>
            <div class="title">{{post.view}}</div>
        </div>

        <div class="body">
            <div class="textarea">
                {{post.text}}
            </div>
            <div class="buttons">
                <a type="button" class="button is-rounded" href="{% url 'board:post_list' %}">목록보기</a>
                <div class="control">
                    <a type="button" class="button is-rounded" href="{% url 'board:post_edit' pk=post.pk %}">수정</a>
                    <a type="button" class="button is-rounded" href="{% url 'board:post_edit' pk=post.pk %}">삭제</a>
                </div>
            </div>
        </div>
        
        <div class="comment">
            <h5>댓글</h5>
            <div>
                <ul>
                {% for answer in post.answer_set.all %}
                    <li>
                        <div>
                            {{answer.author}}
                            {{ answer.content }}
                            {{answer.created_date.date}}
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div>
                <form action="{% url 'board:answer_create' post.id %}" method="post">
                    {% csrf_token %}
                    <textarea name="content" id="content" rows="15"></textarea>
                    <input type="submit" value="등록">
                </form>
            </div>
        </div>
    </div>
</section>
    

{% endblock %}